table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
  font-size: large;
  padding: 5px;
  text-align: center;
}

.cart-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}
